build/*.Dockerfile
build/Dockerfile
build/deployer
build/air.conf
build/air.debug.conf
.vscode
.secrets
.*.env
*.env.bak
.envrc
schism.sqlite
data
*.docker-compose.yml
docker-compose.yml
grafana
influxdb