#!/bin/bash

set -eu -o pipefail

BUILD_ENV=development
ENV_FILE=".$BUILD_ENV.env"

GIT_TAG="$(git describe --tags --abbrev=0)"
GIT_COMMIT="$(git rev-parse HEAD)"
BASE_DIR="$(git rev-parse --show-toplevel)"
PATH="$PATH:$BASE_DIR/build"

export BUILD_ENV
export ENV_FILE

export GIT_TAG
export GIT_COMMIT
export BASE_DIR
export PATH

deployer init

# Load up .env
set -o allexport
[[ -f "$ENV_FILE" ]] && source "$ENV_FILE"
set +o allexport