#!/bin/bash

set -eu -o pipefail

set -o allexport
[[ -f ".env" ]] && source ".env"
set +o allexport

ENV_FILE=".$BUILD_ENV.env"

GIT_TAG="$(git describe --tags --abbrev=0)"
GIT_COMMIT="$(git rev-parse HEAD)"
BASE_DIR="$(git rev-parse --show-toplevel)"
PATH="$PATH:$BASE_DIR/build"

export BUILD_ENV
export ENV_FILE

export GIT_TAG
export GIT_COMMIT
export BASE_DIR
export PATH

# Init local env
deployer init "$BUILD_ENV"

# Load up all variables from $ENV_FILE
set -o allexport
[[ -f "$ENV_FILE" ]] && source "$ENV_FILE"
set +o allexport